:root {
  /* --iti-hover-color: hsl(var(--primary-foreground)); */

  /* 调整 vue-tel-input 样式使其与 naive-ui 保持一致 */
  .vue-tel-input {
    display: flex;
    flex-direction: row;
    align-items: center; /* 确保内容垂直居中 */
    width: 100%;
    height: 34px; /* 调整输入框的高度，使其与 naive-ui 一致 */
    font-size: inherit; /* 设置字体大小与 Naive UI 输入框一致 */
    border: 1px solid hsl(var(--border));
    border-radius: var(--radius);
  }

  .vti__input {
    height: 100%;
    border: none !important;
    border-radius: var(--radius) !important;
  }

  .vue-tel-input:hover {
    outline: none;
    border: 1px solid hsl(var(--primary));
  }

  .vue-tel-input:focus-within {
    outline: none;
    border: 1px solid hsl(var(--primary));
    box-shadow: none;
  }

  .vti__dropdown:hover {
    background-color: hsl(var(--background));
  }

  .vti__dropdown-list {
    background-color: hsl(var(--background));
  }

  .vti__dropdown-item {
    color: hsl(var(--foreground) / 80%);
  }

  .vti__dropdown-item.highlighted {
    background-color: hsl(var(--accent));
  }

  .vti__dropdown.open {
    background-color: hsl(var(--background));
  }
}
